@model Prosegur.LV.SOL.Dashboard.UI.Web.Models.IntegrationBarStateModel

<li class="list-group-item d-flex justify-content-sm-start align-items-center">
    <span class="dot" style="background-color: @Model.HexaColor"></span><span class="p-lg-3">@Model.Description</span>
</li>